.cover__container {
  margin: 0 auto;
  width: 100%;

  background-image: url('../../../images/cover-trains.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 245px 0;
}

.cover__container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__container:hover::before {
  opacity: 0.8;
}
