.header__lang-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 1.17;
  margin-right: 18px;
}

.header__lang-link:first-of-type {
  border-bottom: 1px solid white;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

.header__lang-link:hover {
  opacity: 0.75;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
