.intro__text {
  font-size: 16px;
  line-height: 1.63;
  margin: 41px 0 37px;
  width: 690px;
}

@media screen and (max-width: 1023px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    width: 100%;
    margin: 46px 0 37px;
  }
}

